<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('login') }}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<main class="main">
    <div class="wrapper">
        <div class="card">
            <div class="title">
                <h1 class="title title-large">Zaloguj się</h1>
                {#<p class="title title-subs">New user? <span><a href="#" class="linktext">Create an account</a></span></p>#}
            </div>
            <form class="from" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {# Logged user cannot access login page
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                #}

                <div class="form-group">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input-field" placeholder="Email" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="inputPassword" class="input-field" placeholder="Hasło" required>
                </div>



                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="form-group">
                    <a href="#" class="linktext">Zapomniałeś hasła?</a>
                    <input type="submit" name="submit" class="input-submit" value="Login">
                </div>
                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
            </form>
            {#<div class="line">
                <span class="line-bar"></span>
                <span class="line-text">Or</span>
                <span class="line-bar"></span>
            </div>#}
            {#<div class="method">
                <div class="method-item">
                    <a href="#" class="btn-action">
                        <i class="icons icons-google fab fa-google"></i>
                        <span>Sign in with Google</span>
                    </a>
                </div>
                <div class="method-item">
                    <a href="#" class="btn-action">
                        <i class="icons icons-facebook fab fa-facebook"></i>
                        <span>Sign in with Facebook</span>
                    </a>
                </div>
                <div class="method-item">
                    <a href="#" class="btn-action">
                        <i class="icons icons-apple fab fa-apple"></i>
                        <span>Sign in with Apple</span>
                    </a>
                </div>
            </div>#}
        </div>
    </div>
</main>

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
