{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="card material-table col-4">
    <div class="card-body">
        <h5 class="card-title">Register</h5>
        {{ form_start(registrationForm) }}
        <div class="alert-danger">
            {{ form_errors(registrationForm) }}
        </div>

        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.password) }}

        {{ form_row(registrationForm.agreeTerms) }}

        {{ form_end(registrationForm) }}
    </div>

</div>

{% endblock %}
