<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

    {% if is_granted('ROLE_CREDIT_ADVISOR') %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a href="{{ url('dashboard_index') }}" class="nav-link" >
            <span class="nav-link-text">Dashboard</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseProcess">
            <i class="fas fa-hourglass"></i>
            <span class="nav-link-text">Procesy</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseProcess">
            <li>
                <a href="{{ url('processes_index') }}">Aktywne procesy</a>
            </li>
            <li>
                <a href="{{ url('processes_add') }}">Dodaj proces</a>
            </li>
        </ul>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseClients">
            <i class="fas fa-user"></i>
            <span class="nav-link-text">Klienci</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseClients">
            <li>
                <a href="{{ url('clients_index') }}">Lista klientów</a>
            </li>
            <li>
                <a href="{{ url('clients_add') }}">Dodaj klienta</a>
            </li>
        </ul>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseProperties">
            <i class="fa fa-building"></i>
            <span class="nav-link-text">Nieruchomości</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseProperties">
            <li>
                <a href="{{ url('properties_index') }}">Lista nieruchomości</a>
            </li>
            <li>
                <a href="{{ url('properties_add') }}">Dodaj nieruchomość</a>
            </li>
        </ul>
    </li>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSettings">
                <i class="fa fa-building"></i>
                <span class="nav-link-text">Users</span>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseSettings">
                <li>
                    <a href="{{ url('admin_users_index') }}">View Users</a>
                </li>
            </ul>
        </li>
    {% endif %}


</ul>
