{% extends 'base.html.twig' %}

{% block title %}Admin Klienci{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bootstrap-table') }}
{% endblock %}

{% block body %}

<table
        id="table"
        data-toggle="table"
        data-height="600"
        data-pagination="true"
        data-search="true"
        data-search-align="left"
        data-show-columns="true"
        data-show-refresh="true"
        data-show-columns-toggle-all="true"
        data-show-pagination-switch="true"
        data-show-toggle="true"
        data-show-fullscreen="true"
        data-buttons="buttons"
        data-buttons-align="left">
    <thead>
    <tr>
        <th data-field="email" data-sortable="true">Email</th>
        <th data-field="roles" data-sortable="true">Role</th>
        <th data-formatter="TableActions">Akcje</th>
    </tr>
    </thead>
</table>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bootstrap-table') }}
    <script>
        {% if users is not empty %}
        document.addEventListener("DOMContentLoaded", function() {
            var $table = $('#table')
            $table.bootstrapTable({data: {{ users|raw }}})
        });

        {% endif %}

        function buttons () {
            return {
                btnAdd: {
                    text: 'Add new row',
                    icon: 'fa-plus',
                    event: function () {
                        location.href = '{{ url('admin_users_add') }}';
                    },
                    attributes: {
                        title: 'Dodaj nowych użytkowników'
                    }
                }
            }
        }
    </script>
{% endblock %}
