{% extends 'base.html.twig' %}

{% block title %}Admin Clients{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="card material-table">
    <div class="card-body">

        {{ form_start(form) }}
        <div class="alert-danger">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col-4">
                {{ form_row(form.bank) }}
            </div>
            <div class="col-4">
                {{ form_row(form.purpose) }}
            </div>
            <div class="col-4">
                {{ form_row(form.protection) }}
            </div>
            <div class="col-4">
                {{ form_row(form.gracePeriod) }}
            </div>
            <div class="col-4">
                {{ form_row(form.instalment) }}
            </div>
            <div class="col-4">
                {{ form_row(form.paymentDay) }}
            </div>
            <div class="col-4">
                {{ form_row(form.interest) }}
            </div>
            <div class="col-4">
                {{ form_row(form.commision) }}
            </div>
            <div class="col-4">
                {{ form_row(form.bankMargin) }}
            </div>
            <div class="col-4">
                {{ form_row(form.loanPeriod) }}
            </div>
            <div class="col-4">
                {{ form_row(form.ownContribution) }}
            </div>
            <div class="col-4">
                {{ form_row(form.amountRequested) }}
            </div>
            <div class="col-4">
                {{ form_row(form.amountReceived) }}
            </div>
            <div class="col-4">
                {{ form_row(form.appraisalPropertyValue) }}
            </div>
            <div class="col-4">
                {{ form_row(form.finishingValue) }}
            </div>
            <div class="col-4">
                {{ form_row(form.finishStandard) }}
            </div>
            <div class="col-4">
                {{ form_row(form.excessPayment) }}
            </div>
            <div class="col-4">
                {{ form_row(form.earlyPrepaymentFee) }}
            </div>
            <div class="col-4">
                {{ form_row(form.compulsoryInsurance) }}
            </div>
            <div class="col-4">
                {{ form_row(form.lifeInsurance) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('imask') }}#}
    {#<script>
        document.addEventListener("DOMContentLoaded", function(event) {

            $("#contractOfEmployment_check").change(function() {
                if(this.checked) {
                    $('#employmeent').removeClass('d-none');
                } else {
                    $('#employmeent').addClass('d-none');
                }
            });

            /* Validation */
            //Postcode
            var element_postcode = document.getElementsByClassName("maskPostcode");
            new IMask(element_postcode[0], {
                mask: '00-000',
                placeholder: {
                    show: 'always'
                }
            });
            //Phones
            var elements_tel = document.getElementsByClassName("maskTel");
            for (var i = 0; i < elements_tel.length; i++) {
                new IMask(elements_tel[i], {
                    mask: '000000000',
                    placeholder: {
                        show: 'always'
                    },
                    removeMaskOnSubmit: true
                });
            }
        });
    </script>#}

{% endblock %}

