{% extends 'base.html.twig' %}

{% block title %}Admin Property{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Bank</td>
                            <td>{{ credit.bank }}</td>
                        </tr>
                        <tr>
                            <td>Cel</td>
                            <td>{{ credit.purpose }}</td>
                        </tr>
                        <tr>
                            <td>Zabezpieczenie</td>
                            <td>{{ credit.protection }}</td>
                        </tr>
                        <tr>
                            <td>Deklarowana karencja</td>
                            <td>{{ credit.gracePeriod }}</td>
                        </tr>
                        <tr>
                            <td>Raty</td>
                            <td>{{ credit.instalment }}</td>
                        </tr>
                        <tr>
                            <td>Dzień płatności raty</td>
                            <td>{{ credit.paymentDay }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Oprocentowanie</td>
                            <td>{{ credit.interest }}</td>
                        </tr>
                        <tr>
                            <td>Prowizja za udzielenie kredytu</td>
                            <td>{{ credit.commision }}</td>
                        </tr>
                        <tr>
                            <td>Marża banku</td>
                            <td>{{ credit.bankMargin }}</td>
                        </tr>
                        <tr>
                            <td>Okres kredytowania</td>
                            <td>{{ credit.loanPeriod }}</td>
                        </tr>
                        <tr>
                            <td>Wkład własny</td>
                            <td>{{ credit.ownContribution }}</td>
                        </tr>
                        <tr>
                            <td>Kwota wnioskowana</td>
                            <td>{{ credit.amountRequested }}</td>
                        </tr>
                        <tr>
                            <td>Kwota udzielona</td>
                            <td>{{ credit.amountReceived }}</td>
                        </tr>
                        <tr>
                            <td>Wartość nieruchomości z wyceny</td>
                            <td>{{ credit.appraisalPropertyValue }}</td>
                        </tr>
                        <tr>
                            <td>Cena zakupu</td>
                            <td>{{ credit.purchaseValue }}</td>
                        </tr>
                        <tr>
                            <td>Kwota na wykończenie</td>
                            <td>{{ credit.finishingValue }}</td>
                        </tr>
                        <tr>
                            <td>Standard wykończenia</td>
                            <td>{{ credit.finishStandard }}</td>
                        </tr>
                        <tr>
                            <td>Czy planowana nadpłata</td>
                            <td>{{ credit.excessPayment }}</td>
                        </tr>
                        <tr>
                            <td>Opłata za wcześniejszą spłatę (w latach)</td>
                            <td>{{ credit.earlyPrepaymentFee }}</td>
                        </tr>
                        <tr>
                            <td>Czy obowiązkowe ubezpieczenie nieruchumości</td>
                            <td>{{ credit.compulsoryInsurance }}</td>
                        </tr>
                        <tr>
                            <td>Czy obowiązkowe ubezpieczenie życia</td>
                            <td>{{ credit.lifeInsurance }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3>Właściciel - {{ credit.owner.name }} {{ credit.owner.surname }}</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

