{% extends 'base.html.twig' %}

{% block title %}Admin Nieruchomość{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="card material-table">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="alert-danger">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col-4">
                    {{ form_row(form.market) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.buildingType) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.buildingStoreys) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.apartmentStorey) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.developer) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.surface) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.rooms) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.builtOn) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.address) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.town) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.community) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.county) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.voivodeship) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.parking) }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label class="required" for="">Owner</label>
                        {{ form_widget(form.owner, { 'attr': {'class': 'searchabledropdown'} }) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('select2') }}
    {{ encore_entry_script_tags('imask') }}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            $(".searchabledropdown").select2();

            //Build year
            var element_postcode = document.getElementsByClassName("maskBuiltOn");
            new IMask(element_postcode[0], {
                mask: '0000',
                placeholder: {
                    show: 'always'
                }
            });
        });
    </script>
{% endblock %}

