{% extends 'base.html.twig' %}

{% block title %}Admin Property{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-6 mb-3">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Rynek</td>
                        <td>{{ property.market }}</td>
                    </tr>
                    <tr>
                        <td>Rodzaj zabudowy</td>
                        <td>{{ property.buildingType }}</td>
                    </tr>
                    <tr>
                        <td>Liczba kondygnacji</td>
                        <td>{{ property.buildingStoreys }}</td>
                    </tr>
                    <tr>
                        <td>Kondygnacja lokalu</td>
                        <td>{{ property.apartmentStorey }}</td>
                    </tr>
                    <tr>
                        <td>Developer</td>
                        <td>{{ property.developer }} lat</td>
                    </tr>
                    <tr>
                        <td>Powierzchnia w m2</td>
                        <td>{{ property.surface }}</td>
                    </tr>
                    <tr>
                        <td>Liczba pokoi</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Rok wybudowania</td>
                        <td>{{ property.builtOn }}</td>
                    </tr>
                    <tr>
                        <td>Parking</td>
                        <td>{{ property.parking }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6 mb-3">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Adres</td>
                        <td>{{ property.address }}</td>
                    </tr>
                    <tr>
                        <td>Miasto</td>
                        <td>{{ property.town }}</td>
                    </tr>
                    <tr>
                        <td>Gmina</td>
                        <td>{{ property.community }}</td>
                    </tr>
                    <tr>
                        <td>Kraj</td>
                        <td>{{ property.county }}</td>
                    </tr>
                    <tr>
                        <td>Województwo</td>
                        <td>{{ property.voivodeship }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-header">
                <h3>Właściciel - {{ property.owner.name }} {{ property.owner.surname }}</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

