<div class="table-header">
    <span class="table-title">{{ title }}</span>
    <div class="actions">
        {% for key, action in actions %}
            <a href="{{ url(name ~ '_' ~ key) }}" class="modal-trigger waves-effect btn-flat nopadding"><i class="material-icons">{{ action.icon }}</i></a>
        {% endfor %}
        <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
    </div>
</div>
