<table id="{{ table_id }}" class="table {{ table_class }}">
    <thead>
    <tr>
        {% for tr in table_data.columns %}
            <th>{{ tr }}</th>
        {% endfor %}
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>

    {% for row in table_data.data %}
        <tr>

            {# Set data for each row  #}
            {% for attr in table_data.rows %}
                {% if '|' in attr %}
                    {% set attr_arr = attr|split('|') %}
                    <td>
                    {% for param in attr_arr %}
                        {{ attribute(row, param) ~ ' '}}
                    {% endfor %}
                    </td>
                {% else %}
                    <td>{{ attribute(row, attr) }}</td>
                {% endif %}
            {% endfor %}

            {# Set row actions #}
            <td>
            {% for action in table_data.actions %}
                <a href="{{ url(table_data.name ~ '_' ~ action, { 'id': row.id }) }}" class="btn btn-primary btn-sm text-white" role="button" aria-disabled="true">
                    {{ action }}
                </a>
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
