{% extends 'base.html.twig' %}

{% block title %}Admin Clients{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('select2') }}
{% endblock %}

{% block body %}
<div class="card material-table">
    <div class="card-body">

        {{ form_start(form) }}
        <div class="alert-danger">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col-4">
                {{ form_row(form.name) }}
            </div>
            <div class="col-4">
                {{ form_row(form.surname) }}
            </div>
            <div class="col-4">
                {{ form_row(form.email) }}
            </div>
            <div class="col-4">
                {{ form_row(form.phone) }}
            </div>
            <div class="col-4">
                {{ form_row(form.phone2) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form_row(form.dateOfBirth) }}
            </div>
            <div class="col-4">
                {{ form_row(form.sex) }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form_row(form.postcode) }}
            </div>
            <div class="col-4">
                {{ form_row(form.town) }}
            </div>
            <div class="col-6">
                {{ form_row(form.address) }}
            </div>
            <div class="col-4">
                {{ form_row(form.maritalStatus) }}
            </div>
            <div class="col-4">
                {{ form_row(form.voivodeship) }}
            </div>
            <div class="col-4">
                {{ form_row(form.county) }}
            </div>
            <div class="col-4">
                {{ form_row(form.community) }}
            </div>
            <div class="col-4">
                {{ form_row(form.citizenship) }}
            </div>
            <div class="col-4">
                {{ form_row(form.education) }}
            </div>
        </div>
        <hr>
        <h5 class="card-title">Zatrudnienie</h5>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="contractOfEmployment_check">
            <label class="form-check-label" for="contractOfEmployment_check">Umowa o prace</label>
        </div>
        {{ form_row(form.business) }}

        <div id="employmeent" class="row d-none">
            <div class="col-4">
                {{ form_row(form.contractOfEmployment) }}
            </div>
            <div class="col-4">
                {{ form_row(form.contractTime) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form_row(form.industry) }}
            </div>
            <div class="col-4">
                {{ form_row(form.jobPosition) }}
            </div>
            <div class="col-4">
                {{ form_row(form.jobPositionType) }}
            </div>
            <div class="col-4">
                {{ form_row(form.employerType) }}
            </div>
            <div class="col-4">
                {{ form_row(form.employerAddress) }}
            </div>
            <div class="col-4">
                {{ form_row(form.civilLawContracts) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('imask') }}
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {

            $("#contractOfEmployment_check").change(function() {
                if(this.checked) {
                    $('#employmeent').removeClass('d-none');
                } else {
                    $('#employmeent').addClass('d-none');
                }
            });

            /* Validation */
            //Postcode
            var element_postcode = document.getElementsByClassName("maskPostcode");
            new IMask(element_postcode[0], {
                mask: '00-000',
                placeholder: {
                    show: 'always'
                }
            });
            //Phones
            var elements_tel = document.getElementsByClassName("maskTel");
            for (var i = 0; i < elements_tel.length; i++) {
                new IMask(elements_tel[i], {
                    mask: '000000000',
                    placeholder: {
                        show: 'always'
                    },
                    removeMaskOnSubmit: true
                });
            }
        });


    </script>

{% endblock %}

