{% extends 'base.html.twig' %}

{% block title %}Admin Klienci{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bootstrap-table') }}
{% endblock %}

{% block body %}

<table
        id="table"
        data-toggle="table"
        data-height="600"
        data-pagination="true"
        data-search="true"
        data-search-align="left"
        data-show-columns="true"
        data-show-refresh="true"
        data-show-columns-toggle-all="true"
        data-show-pagination-switch="true"
        data-show-toggle="true"
        data-show-fullscreen="true"
        data-buttons="buttons"
        data-buttons-align="left">
    <thead>
    <tr>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="name" data-sortable="true">Imię</th>
        <th data-field="surname" data-sortable="true">Nazwisko</th>
        <th data-field="email">Email</th>
        <th data-field="phone">Tel</th>
        <th data-formatter="TableActions">Akcje</th>
    </tr>
    </thead>
</table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bootstrap-table') }}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var $table = $('#table')
            $table.bootstrapTable({data: {{ clients|raw }}})
        });

        function TableActions (value, row, index) {

            var url_edit = '{{ path("clients_edit", {'id': 'client_id'}) }}';
            var url_preview = '{{ path("clients_preview", {'id': 'client_id'}) }}';
            url_edit = url_edit.replace("client_id", row.id);
            url_preview = url_preview.replace("client_id", row.id);

            return [
                '<div class="table-actions">',
                '<a href="'+ url_preview +'" title="Preview">',
                '<i class="fas fa-eye"></i>',
                '</a>' ,
                '<a href="'+ url_edit +'" title="Edit">',
                '<i class="fas fa-edit"></i>',
                '</a>',
                '</div>',
            ].join('');
        }

        function buttons () {
            return {
                btnAdd: {
                    text: 'Add new row',
                    icon: 'fa-plus',
                    event: function () {
                        location.href = '{{ url('clients_add') }}';
                    },
                    attributes: {
                        title: 'Dodaj nowych klientów'
                    }
                }
            }
        }
    </script>
{% endblock %}
