{% extends 'base.html.twig' %}

{% block title %}Admin Clients{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="row">
    {#<div class="col-2">
        <img class="img-circle" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" alt="User Pic">
    </div>#}
    <div class="col-6 mb-3">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Imie i nazwisko</td>
                        <td>{{ client.name }} {{ client.surname }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ client.email }}</td>
                    </tr>
                    <tr>
                        <td>Telefon</td>
                        <td>{{ client.phone }} {% if client.phone2 %}|| {{ client.phone2 }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Data urodzenia</td>
                        <td>{{ client.dateOfBirth|date("d/m/Y") }}</td>
                    </tr>
                    <tr>
                        <td>Wiek</td>
                        <td>{{ client.age }} lat</td>
                    </tr>
                    <tr>
                        <td>Płeć</td>
                        <td>{{ client.sex }}</td>
                    </tr>
                    <tr>
                        <td>Status materialny</td>
                        <td>{{ client.maritalStatus }}</td>
                    </tr>
                    <tr>
                        <td>Edukacja</td>
                        <td>{{ client.education }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6 mb-3">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Adres</td>
                        <td>{{ client.address }}</td>
                    </tr>
                    <tr>
                        <td>Miejscowość</td>
                        <td>{{ client.town }}</td>
                    </tr>
                    <tr>
                        <td>Kod pocztowy</td>
                        <td>{{ client.postcode }}</td>
                    </tr>
                    <tr>
                        <td>Gmina</td>
                        <td>{{ client.community }}</td>
                    </tr>
                    <tr>
                        <td>Województwo</td>
                        <td>{{ client.voivodeship }}</td>
                    </tr>
                    <tr>
                        <td>Kraj</td>
                        <td>{{ client.county }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h3>Dane o zatrudnieniu</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Umowa o prace</td>
                        <td>{{ client.contractOfEmployment }}</td>
                    </tr>
                    <tr>
                        <td>Czas umowy</td>
                        <td>{{ client.contractTime }}</td>
                    </tr>
                    <tr>
                        <td>Branża</td>
                        <td>{{ client.industry }}</td>
                    </tr>
                    <tr>
                        <td>Stanowisko</td>
                        <td>{{ client.jobPosition }}</td>
                    </tr>
                    <tr>
                        <td>Typ stanowiska</td>
                        <td>{{ client.jobPositionType }}</td>
                    </tr>
                    <tr>
                        <td>Pracodawca</td>
                        <td>{{ client.employer }}</td>
                    </tr>
                    <tr>
                        <td>Rodzaj dzialalności pracodawcy</td>
                        <td>{{ client.employerType }}</td>
                    </tr>
                    <tr>
                        <td>Adres pracodawcy</td>
                        <td>{{ client.employerAddress }}</td>
                    </tr>
                    <tr>
                        <td>Umowy cywilnoprawne</td>
                        <td>{{ client.civilLawContracts }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

