{% extends 'base.html.twig' %}

{% block title %}Process Edit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="card material-table">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="alert-danger">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_row(form.status) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.applicationSubmissionOn) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.preliminaryDecisionOn) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.creditSignOn) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.creditRunOn) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.propertyHandOverOn) }}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.applicationAmount) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.positiveDecision) }}
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

