{% extends 'base.html.twig' %}

{% block title %}Admin Procesy{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bootstrap-table') }}
{% endblock %}

{% block body %}

<table
        id="table"
        data-toggle="table"
        data-height="600"
        data-pagination="true"
        data-search="true"
        data-search-align="left"
        data-show-columns="true"
        data-show-refresh="true"
        data-show-columns-toggle-all="true"
        data-show-pagination-switch="true"
        data-show-toggle="true"
        data-show-fullscreen="true"
        data-buttons="buttons"
        data-buttons-align="left">
    <thead>
    <tr>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-formatter="Name" data-sortable="true">Imię i nazwisko</th>
        <th data-field="email">Status</th>
        <th data-formatter="TableActions">Akcje</th>
    </tr>
    </thead>
</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bootstrap-table') }}
    <script>
        {% if processes is not empty %}
        document.addEventListener("DOMContentLoaded", function() {

                var $table = $('#table')
                $table.bootstrapTable({data: {{ processes|raw }}})
        });

        function TableActions (value, row, index) {

            var url_edit = '{{ path("processes_edit", {'id': 'process_id'}) }}';
            var url_preview = '{{ path("processes_preview", {'id': 'process_id'}) }}';
            {#var url_preview_credit = '{{ path("processes_credit_preview", {'id': 'credit.process_id'}) }}';#}
            url_edit = url_edit.replace("client_id", row.id);
            url_preview = url_preview.replace("client_id", row.id);
            // url_preview_credit = url_preview_credit.replace("client_id", row.id);

            return [
                '<div class="table-actions">',
                '<a href="'+ url_preview +'" title="Preview">',
                '<i class="fas fa-eye"></i>',
                '</a>' ,
                '<a href="'+ url_edit +'" title="Edit">',
                '<i class="fas fa-edit"></i>',
                '</a>',
                '</div>',
            ].join('');
        }

        function Name (value, row, index) {
            var name = row.name;
            var surname = row.surname;

            return [
                name + surname,
            ].join('');
        }
        {% endif %}


        function buttons () {
            return {
                btnAdd: {
                    text: 'Add new row',
                    icon: 'fa-plus',
                    event: function () {
                        location.href = '{{ url('processes_add') }}';
                    },
                    attributes: {
                        title: 'Dodaj nowy process'
                    }
                }
            }
        }
    </script>
{% endblock %}

