{% extends 'base.html.twig' %}

{% block title %}Admin Details{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a class="btn btn-primary" href="{{ url('processes_edit', { 'id': process.id }) }}" role="button">Edytuj</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 my-3">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Imie i nazwisko</td>
                        <td>{{ process.client.name }} {{ process.client.surname }}</td>
                    </tr>
                    <tr>
                        <td>Nieruchomość</td>
                        <td>{{ process.property.address }} {{ process.property.town }}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{ process.status }}</td>
                    </tr>
                    <tr>
                        <td>Ilość aplikacji</td>
                        <td>{{ process.applicationAmount }}</td>
                    </tr>
                    <tr>
                        <td>Ilość pozytywnych decyzji</td>
                        <td>{{ process.positiveDecision }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6 my-3">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tbody>
{#                        <tr>#}
{#                            <td>Data leada</td>#}
{#                            <td>...</td>#}
{#                        </tr>#}
                        <tr>
                            <td>Data złożenia wniosku</td>
                            <td>{{ process.applicationSubmissionOn is empty ? "" : process.applicationSubmissionOn|date("d/m/Y") }}</td>
                        </tr>
                        <tr>
                            <td>Data decyzji wstępnej</td>
                            <td>{{ process.preliminaryDecisionOn is empty ? "" : process.preliminaryDecisionOn|date("d/m/Y") }}</td>
                        </tr>
                        <tr>
                            <td>Data podpisania umowy kredytowej</td>
                            <td>{{ process.creditSignOn is empty ? "" : process.creditSignOn|date("d/m/Y") }}</td>
                        </tr>
                        <tr>
                            <td>Data uruchomienia kredytu</td>
                            <td>{{ process.creditRunOn is empty ? "" : process.creditRunOn|date("d/m/Y") }}</td>
                        </tr>
                        <tr>
                            <td>Data oddania lokalu</td>
                            <td>{{ process.propertyHandOverOn is empty ? "" : process.propertyHandOverOn|date("d/m/Y") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

