{% extends 'base.html.twig' %}

{% block title %}Admin Proces{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row flex justify-content-center">
        <div class="col-6">
            <div class="card material-table">
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="alert-danger">
                            {{ form_errors(form) }}
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="required" for="">Klient</label>
                                {{ form_widget(form.client, { 'attr': {'class': 'searchabledropdown'} }) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="required" for="">Nieruchomość</label>
                                {{ form_widget(form.property, { 'attr': {'class': 'searchabledropdown'} }) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('select2') }}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            $(".searchabledropdown").select2();
        });
    </script>
{% endblock %}

